####################################
# IntelliJ IDEA
####################################
.idea/
*.iml

####################################
# Maven / Spring Boot
####################################
backend/target/
target/
*.class
*.jar
*.war

####################################
# Node & Angular
####################################
frontend/node_modules/
node_modules/
frontend/.angular/
frontend/dist/
dist/

####################################
# Test Coverage
####################################
coverage/
frontend/coverage/

####################################
# SonarQube
####################################
.scannerwork/
frontend/.scannerwork/

####################################
# Logs
####################################
*.log
logs/

####################################
# Environment Files
####################################
.env
.env.local

####################################
# OS Files
####################################
.DS_Store
Thumbs.db
